body {
	margin: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: var(--color-text);
	background-color: var(--bg-body);
	min-width: 320px;
}

img {
	max-width: 100%;
	object-fit: contain;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

h1 {
	font-weight: 600;
}

.container {
	max-width: var(--page-max-width);
	margin: 0 auto;
	padding: 0 var(--offset-page);
}
