body {
  margin: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: var(--color-text);
	background-color: #F5F4EF;
	margin-bottom: 1000px;
}

img {
  max-width: 100%;
}

// .visually-hidden {
//   position: absolute;
//   width: 0;
//   height: 0;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   border: none;
// }

h1 {
	font-weight: 600;
}

.container {
	max-width: 1152px;
	margin: 0 auto;
}
