.feedback {
	padding-bottom: 64px;

	@media (min-width: @min-lg) {
		padding-bottom: 132px;
	}
}

.feedback__wrap {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 12px;

		@media (min-width: @min-md) {
			margin-bottom: 24px;
		}
	}
}

.feedback__content {
	padding: 12px 12px 14px;
	color: var(--bg-body);
	background-color: var(--color-text);
	border-radius: 12px;

	@media (min-width: @min-lg) {
		padding: 24px;
	}
}

.feedback__form {

	@media (min-width: @min-lg) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
	}
}

.feedback__title {
	margin: 0;
	font-weight: 600;
	font-size: 32px;
	line-height: 1;
	font-family: "Random Grotesque Standard", Arial, Helvetica, sans-serif;

	@media (max-width: @max-lg) {
		margin-bottom: 12px;
	}

	@media (min-width: @min-lg) {
		max-width: 350px;
		font-size: 48px;
	}

	&--contact {
		margin-bottom: 24px;
	}
}

.feedback__subtitle {
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	@media (max-width: @max-lg) {
		max-width: 206px;
		margin-bottom: 32px;
	}

	@media (min-width: @min-lg) {
		max-width: 148px;
		font-size: 14px;
		line-height: 17px;
	}
}

@media (min-width: @min-lg) {
	.feedback__form-top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 24px;
	}
}

.feedback__form-left {
	margin-right: 12px;

	@media (max-width: @max-lg) {
		max-width: 400px;
	}

	@media (max-width: @max-md) {
		max-width: 344px;
	}
}

.feedback__input {
	display: block;
	width: 100%;
	max-width: 344px;
	margin-bottom: 24px;
	padding: 0 0 8px;
	font-size: 12px;
	line-height: 15px;
	color: inherit;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #454545;
	appearance: none;

	@media (min-width: @min-lg) {
		font-size: 14px;
		line-height: 17px;
	}
}

// .feedback__checkbox
.feedback__label-checkbox {
	position: relative;
	display: block;
	box-sizing: border-box;
	min-height: 24px;
	padding-left: 35px;
	font-size: 12px;
	line-height: 15px;

	@media (max-width: @max-lg) {
		max-width: 395px;
	}

	@media (min-width: @min-lg) {
		font-size: 14px;
		line-height: 24px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
		width: 24px;
		height: 24px;
		border: 1px solid var(--bg-body);
		border-radius: 6px;
	}
}

.feedback__submit {
	box-sizing: border-box;
	margin-top: 23px;
	padding: 8px 14px 9px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	font-family: inherit;
	color: inherit;
	text-transform: lowercase;
	background-color: transparent;
	border: 1px solid #F5F4EF;
	border-radius: 24px;
	appearance: none;

	@media (max-width: @max-lg) {
		display: block;
		width: 100%;
		max-width: 400px;
	}
}

@media (min-width: @min-md) {
	.feedback__form {
		width: 53.82%;
		margin-right: 24px;
	}

	.feedback__wrap {
		display: flex;

		&:first-of-type {
			&::after {
				content: '';
				display: block;
				width: calc(43.71% - 24px);
				background-image: url(../../img/feedback/feedback-1.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				border-radius: 12px;
			}
		}
	}
}

.feedback__address {
	display: flex;
	margin-bottom: 64px;
	font-style: normal;

	& .feedback__link {
		margin-right: 12px;

		@media (min-width: @min-lg) {
			margin-right: 54px;
		}
	}
}

.feedback__link {
	font-size: 14px;
	line-height: 17px;
	color: inherit;
	text-decoration: none;
}

.feedback__wrap:nth-of-type(2) {

	@media (min-width: @min-sm) {
		display: flex;

		.feedback__content {
			min-width: 300px;
		}
	}

	@media (min-width: 850px) {
		.feedback__content {
			width: 45.232%;
		}

		&::after {
			content: '';
			display: block;
			width: 172px;
			margin-left: 24px;
			background-image: url(../../img/feedback/feedback-3.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 12px;
		}
	}

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 126px;
		margin-bottom: 12px;
		background-image: url(../../img/feedback/feedback-2.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 12px;

		@media (min-width: @min-sm) {
			height: auto;
			margin-right: 12px;
			margin-bottom: 0;
		}

		@media (min-width: @min-lg) {
			width: 32.26%;
		}

		@media (min-width: 850px) {
			margin-right: 24px;
		}
	}
}
