.header {
	border-bottom: 1px solid #DDDCD6;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: var(--offset-page-top);
	padding-bottom: var(--offset-page-top);
}

.header__logo img {
	width: 82px;
	height: 47px;

	@media (min-width: @min-md) {
		width: 116px;
		height: 66px;
	}
}

@media (max-width: @max-md) {
	.header__nav-toggle {
		position: relative;
		display: block;
		width: 65px;
		height: 16px;
		padding: 0;
		color: #000000;
		background-color: transparent;
		border: 2px solid transparent;
		border-top-color: currentColor;
		border-bottom-color: currentColor;
		transition: border var(--transition-duration) var(--transition-function), height var(--transition-duration) var(--transition-function);
		appearance: none;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			border-top: 2px solid currentColor;
			transform: translateY(-50%);
			transition: transform var(--transition-duration) var(--transition-function);
		}
	}
}

@media (min-width: @min-md) {
	.header__nav-toggle {
		display: none;
	}

	.header__right,
	.header__logo {
		flex-shrink: 0;
		width: 200px;
	}

	.header__right {
		margin-right: -10px;
		margin-left: 10px;
		text-align: right;
	}
}

.header__link,
.nav__link {
	--line-height: 17px;

	display: block;
	height: var(--line-height);
	padding: 4px 10px 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: var(--line-height);
	color: inherit;
	text-transform: lowercase;
	text-decoration: none;

	& span {
		height: var(--line-height);
	}
}

// mobile navigation
@media (max-width: @max-md) {
	.header__nav {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: fit-content;
		background-color: var(--bg-body);
		transition: transform var(--transition-duration) var(--transition-function);

		& .nav__list {
			display: flex;
			flex-direction: column;
			padding: var(--offset-page-top) 46px 33px 15px;
		}

		& .nav__link {
			--line-height: 45px;
			box-sizing: border-box;
			font-size: 32px;
			line-height: 45px;
			font-family: "Random Grotesque Standard", Arial, Helvetica, sans-serif;
			text-transform: none;
		}
	}

	.no-js {
		& .header__container {
			position: relative;
		}

		.header__nav-wrap:focus-within {
			& .header__nav {
				display: block;
			}
		}
	}

	body:not(.no-js) .header__nav-toggle:not(.header__nav-toggle--close) {
		width: 48px;
		height: 48px;
		border-color: transparent;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	body:not(.no-js) {
		& .header__nav {
			position: absolute;
			top: 76px;
			display: block;
			transform: translateX(0);
		}

		& .header__nav-toggle--close + .header__nav {
			transform: translateX(100%);
		}
	}
}

body {
	scrollbar-gutter: stable;

	&::before {
		content: '';
		position: absolute;
		top: 76px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100vw;
		transform: translateX(-100%);
		transition: background-color var(--transition-duration) var(--transition-function),
			backdrop-filter var(--transition-duration) var(--transition-function);
	}
}

.scroll-lock-nav {
	&::before {
		background-color: rgba(0, 0, 0, 0.2);
		transform: translateX(0);
		backdrop-filter: blur(1px);
	}
}
