.list-links {
	display: inline-flex;
	margin: 0;

	& a {
		display: block;
		margin-right: 8px;
		margin-bottom: 8px;
		font-weight: 600;
		color: inherit;
		text-transform: lowercase;
		text-decoration: none;
		border: 1px solid #212121;
		border-radius: 12px;
	}
}
