.planning {
	padding-bottom: 40px;

	@media (min-width: @min-md) {
		padding-bottom: 120px;
	}
}
.planning__container > div {
	overflow: hidden;
}

.planning__list {
	margin-right: -24px;
	margin-bottom: 12px;

	@media (min-width: @min-md) {
		width: calc(53.82% + 48px);
		margin-bottom: 24px;
	}

	& .slick-list {
		overflow: visible;
	}
}

.planning__item {
	flex-grow: 1;
	padding-right: 24px;
	aspect-ratio: 331 / 245;

	& img {
		width: 100%;
		height: 100%;
		border-radius: 12px;
		transition: width 0.5s var(--transition-function);
		object-fit: cover;
		object-position: center;
	}

	& picture {
		transition: width 0.5s var(--transition-function);
	}
}

.planning__item:not(.slick-active) picture {
	display: block;
	width: calc(76.71% - 24px);
	height: 100%;
}

.planning__item.slick-active img,
.planning__item.slick-active picture {
	width: 100%;
}

.planning__slider__button-next,
.planning__slider__button-prev {
	transition: opacity var(--transition-duration) var(--transition-function);

	&.slick-disabled {
		opacity: 0.5;

		&:hover,
		&:focus,
		&:active {
			outline: none;

			&::before {
				background-color: var(--color-text);
			}
		}
	}
}

.planning__slider__button-prev {
	margin-right: 12px;

	@media (min-width: @min-md) {
		margin-right: 8px;
	}
}

.planning__slider__button-wrap {
	text-align: center;
}
