.portfolio__title {
	position: relative;
	margin: 0 0 32px;
	font-weight: 600;
	font-size: 32px;
	line-height: 1;
	font-family: 'Random Grotesque Standard', Arial, Helvetica, sans-serif;
	text-transform: uppercase;

	@media (min-width: @min-md) {
		font-size: 48px;
	}

	@media (min-width: @min-lg) {
		margin-bottom: 48px;
	}
}

.portfolio__title-animate {
	position: relative;
	display: block;
	height: 32px;

	@media (min-width: @min-md) {
		height: 48px;
	}

	& span {
		--duration: 15s;

		position: absolute;
		top: 0;
		left: 0;
		color: var(--color-accent);
		perspective: 100px;
		opacity: 0;
		animation-name: portfolio-title;
		animation-duration: var(--duration);
		animation-timing-function: var(--transition-function);
		animation-iteration-count: infinite;

		&:nth-child(2) {
			animation-delay: calc(var(--duration)/3);
		}

		&:nth-child(3) {
			animation-delay: calc(var(--duration)/3 * 2);
		}
	}
}

@keyframes portfolio-title {
	0% {
		opacity: 0;
	}

	3% {
		opacity: 1;
	}

	32% {
		opacity: 1;
	}

	35% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.portfolio__subtitle {
	margin: 0 0 32px;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	@media (min-width: @min-sm) {
		font-size: 14px;
		line-height: 17px;
	}
}

.portfolio__button {
	display: block;
	max-width: 296px;
	margin: 0 auto;
	text-transform: lowercase;
}
