.work {
	overflow: hidden;
}

.work__container {
	max-width: calc(var(--page-max-width) + var(--offset-page) * 2);
	margin: 0 auto;
	padding-bottom: 64px;

	@media (min-width: @min-lg) {
		padding-bottom: 84px;
	}
}

.work__slider__list {
	margin: 0 0 12px;
	padding: 0;

	@media (min-width: @min-md) {
		margin-bottom: 22px;
	}

	& .slick-list {
		overflow: visible;
	}
}

.slick-list {
	overflow: visible;
}

.work__slider__item {
	padding: 0 var(--offset-slider);

	& img {
		display: block;
		width: 100%;
		background-color: var(--color-text);
		border-radius: 10px;
	}
}

.work__slider__button-wrap {
	text-align: center;

	@media (min-width: @min-md) {
		padding-right: calc(178px - var(--offset-page));
		text-align: right;
	}
}

.work__slider__button-prev {
	margin-right: 12px;

	@media (min-width: @min-md) {
		margin-right: 8px;
	}
}

.no-js {

	& .work__slider__button-prev,
	& .work__slider__button-next {
		display: none;
	}

	.work__slider__list {
		display: flex;
		align-items: flex-start;
		box-sizing: border-box;
		width: 100%;
		max-width: calc(var(--page-max-width) - var(--offset-page) * 2);
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 20px;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
	}

	.work__slider__item {
		display: flex;
		flex-shrink: 0;
		flex-basis: 100%;
		scroll-snap-align: center;
	}
}
