section.feedback.container
	h2.visually-hidden Обратная связь
	.feedback__wrap
		form.feedback__form.feedback__content(action="#")
			.feedback__form-top
				p.feedback__title Обсудим ваш проект?
				h3.feedback__subtitle Оставьте заявку и мы свяжемся с вами :)
			.feedback__form-left
				label.visually-hidden(for="name") Напишите своё имя
				input#name.feedback__input(type="text", name="name", placeholder="Ваше имя", required)
				label.visually-hidden(for="phone") Напишите номер телефона
				input#phone.feedback__input(type="tel", name="phone", placeholder="+7 (___) ___-__-__", required)
				label.feedback__label-checkbox(for="checkbox")
					input#checkbox.feedback__checkbox(type="checkbox")
					| Даю согласие на&nbsp;обработку персональных данных
			button.feedback__submit(type="submit") Оставить заявку

	.feedback__wrap
		.feedback__content
			h3.feedback__title.feedback__title--contact Или, вот наши контакты
			address.feedback__address
				a.feedback__link.link-animate(href="tel:+79996277771")
					span.link-animate-view 8 (999) 62-77-771
					span.link-animate-hover 8 (999) 62-77-771
				a.feedback__link.link-animate(href="mailto:balans@yandex.ru")
					span.link-animate-view balans@yandex.ru
					span.link-animate-hover balans@yandex.ru
			+social()
