footer.footer
	.footer__container.container
		div
			a.footer__link(href="#") Политика
				span.block конфиденциальности

		div.footer__nav.nav
			ul.footer__nav-list.nav__list
				include nav-items.pug

		a.footer__link.footer__link--dis(href="#") Дизайн сайта
			span.block GLADKAYA ⚡️
