footer.footer
	.footer__container.container
		a(href="#") Политика конфиденциальности
		div.nav
			ul.nav__list
				li.nav__item
					a.header__link(href="#")
						span.header__link-view Портфолио
						span.header__link-hover(aria-hidden="true") Портфолио
				li.nav__item
					a.header__link(href="#")
						span.header__link-view Услуги
						span.header__link-hover(aria-hidden="true") Услуги
				li.nav__item
					a.header__link(href="#")
						span.header__link-view Контакты
						span.header__link-hover(aria-hidden="true") Контакты
	a(href="#") Дизайн сайта GLADKAYA ⚡️
