footer.footer
	.footer__container.container
		a(href="#") Политика конфиденциальности
		nav.nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#", data-hover="Портфолио")
						span Портфолио
				li.nav__item
					a.nav__link(href="#", data-hover="Услуги")
						span Услуги
				li.nav__item
					a.nav__link(href="#", data-hover="Контакты")
						span Контакты
	a(href="#") Дизайн сайта GLADKAYA ⚡️
