footer.footer
	.footer__container.container
		a.footer__link(href="#") Политика <br>конфиденциальности

		div.footer__nav.nav
			ul.footer__nav-list.nav__list
				li.nav__item
					a.nav__link(href="#")
						span.nav__link-view Портфолио
						span.nav__link-hover(aria-hidden="true") Портфолио
				li.nav__item
					a.nav__link(href="#")
						span.nav__link-view Услуги
						span.nav__link-hover(aria-hidden="true") Услуги
				li.nav__item
					a.nav__link(href="#")
						span.nav__link-view Контакты
						span.nav__link-hover(aria-hidden="true") Контакты

		a.footer__link.footer__link--dis(href="#") Дизайн сайта <br>GLADKAYA ⚡️
