footer.footer
	.footer__container.container
		a(href="#") Политика конфиденциальности
		.header__nav
			ul.header__nav-list
				li.header__item
					a(href="#") Портфолио
				li.header__item
					a(href="#") Услуги
				li.header__item
					a(href="#") Контакты
	a(href="#") Дизайн сайта GLADKAYA ⚡️
