header.header
	.header__container.container

		if idPage == 'index'
			a.header__logo(href="index.html", aria-current='page')
				img(src="img/logo/logo_header.svg" alt="Баланс", width="82" height="47")
		else
			a.header__logo(href="index.html")
				img(src="img/logo/logo_header.svg" alt="Баланс", width="82" height="47")

		.header__nav-wrap
			button#menubutton.header__nav-toggle(type="button")
				span.visually-hidden Показать меню

			nav#menu.header__nav.nav
				ul.nav__list
					include nav-items.pug
				.nav__social-wrap
					+social(true)

		.header__nav-right.header__right
			a.header__link.link-animate(href="tel:+79997606778")
				span.link-animate-view 8 (999) 760-67-78
				span.link-animate-hover(aria-hidden="true") 8 (999) 760-67-78
