header.header
	.container

		a.header__logo(href="index.html")
			img(src="./img/logo_header.png", alt="Баланс")

		nav.header__nav
			ul.header__nav-list
				li.header__item
					a(href="#") Портфолио
				li.header__item
					a(href="#") Услуги
				li.header__item
					a(href="#") Контакты

		a(href="tel:+79997606778") 8 (999) 760-67-78
