header.header
	.container

		a.header__logo(href="index.html")
			img(src="./img/logo_header.png", srcset="./img/logo_header.png 1x, ./img/logo_header@2x.png 2x" alt="Баланс")

		nav.nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#", data-hover="Портфолио")
						span Портфолио
				li.nav__item
					a.nav__link(href="#", data-hover="Услуги")
						span Услуги
				li.nav__item
					a.nav__link(href="#", data-hover="Контакты")
						span Контакты

		a(href="tel:+79997606778") 8 (999) 760-67-78
