header.header
	.container

		a.header__logo(href="index.html")
			img(src="./img/logo_header-1.svg", alt="Баланс", width="116")
			img(src="./img/logo_header-2.svg", alt="Баланс", width="116")
			img(src="./img/logo_header-3.svg", alt="Баланс", width="116")
			img(src="./img/logo_header-4.svg", alt="Баланс", width="116")

		nav.nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#", data-hover="Портфолио")
						span Портфолио
				li.nav__item
					a.nav__link(href="#", data-hover="Услуги")
						span Услуги
				li.nav__item
					a.nav__link(href="#", data-hover="Контакты")
						span Контакты

		a(href="tel:+79997606778") 8 (999) 760-67-78
