header.header
	.header__container.container

		a.header__logo(href="index.html")
			img(src="img/logo_header.svg", srcset="img/logo_header@2x.svg 2x", alt="Баланс", width="82" height="47")

		button.header__nav-toggle(type="button")
			span.visually-hidden Показать меню

		nav.nav
			ul.nav__list
				li.nav__item
					a.header__link(href="#")
						span.header__link-view Портфолио
						span.header__link-hover(aria-hidden="true") Портфолио
				li.nav__item
					a.header__link(href="#")
						span.header__link-view Услуги
						span.header__link-hover(aria-hidden="true") Услуги
				li.nav__item
					a.header__link(href="#")
						span.header__link-view Контакты
						span.header__link-hover(aria-hidden="true") Контакты
		.nav__right.header__right
			a.header__link(href="tel:+79997606778")
					span.header__link-view 8 (999) 760-67-78
					span.header__link-hover(aria-hidden="true") 8 (999) 760-67-78
