header.header
	.header__container.container

		a.header__logo(href="index.html")
			img(src="img/logo_header.svg", srcset="img/logo_header@2x.svg 2x", alt="Баланс", width="116")

		nav.nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#", data-hover="Портфолио")
						span Портфолио
				li.nav__item
					a.nav__link(href="#", data-hover="Услуги")
						span Услуги
				li.nav__item
					a.nav__link(href="#", data-hover="Контакты")
						span Контакты
		.nav__right
			a(href="tel:+79997606778") 8 (999) 760-67-78

	img(src="./img/logo_header-1.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-2.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-3.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-4.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-5.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-6.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-7.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-8.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-9.svg", alt="Баланс", width="116")
	img(src="./img/logo_header-10.svg", alt="Баланс", width="116")
