.portfolio__list(role="list")
	.portfolio__grid
		.portfolio__item(role="listitem")
			picture.portfolio__picture
				source(media="(min-width: 768px)", srcset="img/home-portfolio/portfolio-1@xl.jpg")

				img(src="img/home-portfolio/portfolio-1@md.jpg", alt="#", loading="lazy")

			a(href="project.html")
				h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары

		.portfolio__item(role="listitem")
			picture.portfolio__picture
				source(media="(min-width: 768px)", srcset="img/home-portfolio/portfolio-2@xl.jpg")

				img(src="img/home-portfolio/portfolio-2@md.jpg", alt="#", loading="lazy")
			a(href="#")
				h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары

	.portfolio__item(role="listitem")
		picture.portfolio__picture
			source(media="(min-width: 768px)", srcset="img/home-portfolio/portfolio-3@xl.jpg")

			img(src="img/home-portfolio/portfolio-3@md.jpg", alt="#", loading="lazy")
		a(href="#")
			h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары

	.portfolio__grid

		.portfolio__item(role="listitem")
			picture.portfolio__picture
				source(media="(min-width: 768px)", srcset="img/home-portfolio/portfolio-4@xl.jpg")

				img(src="img/home-portfolio/portfolio-4@md.jpg", alt="#", loading="lazy")
			a(href="#")
				h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары

		.portfolio__item(role="listitem")
			picture.portfolio__picture
				source(media="(min-width: 768px)", srcset="img/home-portfolio/portfolio-5@xl.jpg")

				img(src="img/home-portfolio/portfolio-5@md.jpg", alt="#", loading="lazy")
			a(href="#")
				h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары
