li.nav__item
	a.nav__link.link-animate(href=`${URLPortfolio}`, aria-current=idPage == 'portfolio' ? 'page' : 'false')
		span.link-animate-view Портфолио
		span.link-animate-hover(aria-hidden="true") Портфолио

li.nav__item
	a.nav__link.link-animate(href=`${URLServices}`, aria-current=idPage == 'portfolio' ? 'page' : 'false')
		span.link-animate-view Услуги
		span.link-animate-hover(aria-hidden="true") Услуги

li.nav__item
	a.nav__link.link-animate(href="#")
		span.link-animate-view Контакты
		span.link-animate-hover(aria-hidden="true") Контакты
