block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title #{pageTitle}
		if idPage == 'index'
			link(rel="stylesheet", href="./static/swiper/swiper-bundle.min.css")
		link(rel="stylesheet", href="styles/main.min.css")

	body.no-js
		h1.visually-hidden #{pageHeading}

		include header.pug


		main.main.container
			block main

		include footer.pug

		script(src="scripts/main.js")
