extends templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Баланс жизни начинается с пространства"
	- var pageHeading = '"Баланс" - студия дизайна жилых помещений'
	- var idPage = "portfolio"
	- var preloadMainJs = false

block main
	section.portfolio
		header.page-header.container
			h2.title Наши услуги

		+favor__list ([
			[
				'Архитектурное проектирование',
				'#',
				'Архитектурная визуализация зданий и сооружений любой сложности и объема. Детальная проработка технического задания по чертежам и фотографиям. Фотореалистичная подача строительных материалов и элементов благоустройства.',
				`от`,
				`12 000`,
				`₽/м²`,
				'4-7',
				'рабочих дней',
				'favor',
				'favor-1.jpg',
				'#'
			],
			[
				'Дизайн проект интерьера',
				'#',
				'Архитектурная визуализация зданий и сооружений любой сложности и объема. Детальная проработка технического задания по чертежам и фотографиям. Фотореалистичная подача строительных материалов и элементов благоустройства.',
				`от`,
				`12 000`,
				`₽/м²`,
				'4-7',
				'рабочих дней',
				'favor',
				'favor-2.jpg',
				'#'
			],
			[
				'3D визуализация интерьера',
				'#',
				'Визуализация интерьера – это фотореалистичное трехмерное перспективное изображение дизайнерского решения проектируемого помещения или ряда взаимосвязанных пространств. ',
				`от`,
				`650`,
				`₽/м²`,
				'4-7',
				'рабочих дней',
				'favor',
				'favor-3.jpg',
				'#'
			],
			[
				'Архитектурная 3D визуализация',
				'#',
				'Архитектурная визуализация зданий и сооружений любой сложности и объема. Детальная проработка технического задания по чертежам и фотографиям. Фотореалистичная подача строительных материалов и элементов благоустройства.',
				`от`,
				`12 000`,
				`₽/м²`,
				'4-7',
				'рабочих дней',
				'favor',
				'favor-4.jpg',
				'#'
			],
			[
				'Предметное моделирование',
				'#',
				'Архитектурная визуализация зданий и сооружений любой сложности и объема. Детальная проработка технического задания по чертежам и фотографиям. Фотореалистичная подача строительных материалов и элементов благоустройства.',
				`от`,
				`12 000`,
				`₽/м²`,
				'4-7',
				'рабочих дней',
				'favor',
				'favor-5.jpg',
				'#'
			]
		])

	include templates/feedback.pug
