extends templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Баланс жизни начинается с пространства"
	- var pageHeading = '"Баланс" - студия дизайна жилых помещений'
	- var idPage = "index"
	- var preloadMainJs = false

block main
	header.main__header.container
		p.main__header-title Баланс
			sup ®

		.main__header-right
			p.main__header-subtitle Баланс жизни начинается с пространства

			p.main__header-list-tags.list-tags
				a(href="#") Архитектура
				a(href="#") Интерьер
				a(href="#") Визуализация
				a(href="#") Дизайн

	section.work
		.work__container
			h2.visually-hidden Последние работы

			.work__slider
				.work__slider__list(role="list")
					.work__slider__item(role="listitem")
						picture
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-2@xxl.avif", type="image/avif", width="100%", height="100%")
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-2@xxl.webp", type="image/webp", width="100%", height="100%")
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-2@xxl.jpg", width="100%", height="100%")

							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-2@xl.avif", type="image/avif", width="100%", height="100%")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-2@xl.webp", type="image/webp", width="100%", height="100%")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-2@xl.jpg", width="100%", height="100%")

							source(srcset="./img/home-slider/heder-slide-2@md.avif", type="image/avif")
							source(srcset="./img/home-slider/heder-slide-2@md.webp", type="image/webp")
							img(src="./img/home-slider/heder-slide-2@md.jpg", alt="#", width="100%", height="100%")
					.work__slider__item(role="listitem")
						picture
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-3@xxl.avif", type="image/avif", width="100%", height="100%")
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-3@xxl.webp", type="image/webp", width="100%", height="100%")
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-3@xxl.jpg", width="100%", height="100%")

							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-3@xl.avif", type="image/avif", width="100%", height="100%")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-3@xl.webp", type="image/webp", width="100%", height="100%")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-3@xl.jpg", width="100%", height="100%")

							source(srcset="./img/home-slider/heder-slide-3@md.avif", type="image/avif")
							source(srcset="./img/home-slider/heder-slide-3@md.webp", type="image/webp")
							img(src="./img/home-slider/heder-slide-3@md.jpg", alt="#", width="100%", height="100%")
					.work__slider__item(role="listitem")
						picture
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-1@xxl.avif", type="image/avif", width="100%", height="100%")
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-1@xxl.webp", type="image/webp", width="100%", height="100%")
							source(media="(min-width: 1294px)", srcset="./img/home-slider/heder-slide-1@xxl.jpg", width="100%", height="100%")

							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-1@xl.avif", type="image/avif", width="100%", height="100%")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-1@xl.webp", type="image/webp", width="100%", height="100%")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-1@xl.jpg", width="100%", height="100%")

							source(srcset="./img/home-slider/heder-slide-1@md.avif", type="image/avif")
							source(srcset="./img/home-slider/heder-slide-1@md.webp", type="image/webp")
							img(src="./img/home-slider/heder-slide-1@md.jpg", alt="#", width="100%", height="100%")

				.container.work__slider__button-wrap
					button.work__slider__button-prev.button-arrow.button-arrow--right(type="button")
						span.visually-hidden Назад
					button.work__slider__button-next.button-arrow.button-arrow--left(type="button")
						span.visually-hidden Вперёд

	section.portfolio.container
		p.portfolio__title Мы создаем пространства <br> с&#160;ощущением
			span.portfolio__title-animate
				span вдохновения&#160;
				span уюта&#160;
				span комфорта
		h2.portfolio__subtitle Наше портфолио - наша гордость. <br aria-hidden="true"> Потому что каждая работа сделана с душой.
		+gallery ([
			[
				'home-portfolio',
				'portfolio-1@xl',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			],
			[
				'home-portfolio',
				'portfolio-2@xl',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для не молодой пары'
			],
			[
				'home-portfolio',
				'portfolio-3@xl',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для очень молодой пары'
			],
			[
				'home-portfolio',
				'portfolio-4@xl',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			],
			[
				'home-portfolio',
				'portfolio-5@xl',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			]
		])
		a.portfolio__button.button(href=`${URLPortfolio}`) Смотреть все работы

	section.services.container
		h2.visually-hidden Услуги

		p.services__content
			span.services__left Мы занимаемся
			span.services__right
				span дизайн проектами
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span визуализацией интерьера
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span визуализацией архитектуры
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span комплектацией проекта
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span авторским надзором
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее

	include templates/feedback.pug
	block head
		link(rel="preload", href="./static/slick-slider/slick.css", as="style")
		link(rel="stylesheet", href="./static/slick-slider/slick.css")
		link(rel="preload", src="./static/jquery/jquery-3.6.4.min.js", as="script")
		link(rel="preload", src="./static/slick-slider/slick.min.js", as="script")
	block footer
		script(src="./static/jquery/jquery-3.6.4.min.js")
		script(src="./static/slick-slider/slick.min.js")
