extends templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Баланс жизни начинается с пространства"
	- var pageHeading = '"Баланс" - студия дизайна жилых помещений'
	- var idPage = "index"

block main
	header.main__header.container
		p.main__header-title Баланс
			sup ®

		.main__header-right
			p.main__header-subtitle Баланс жизни начинается с пространства

			p.main__header-list-links.list-links
				a(href="#") Экстерьер
				a(href="#") Визуализация
				a(href="#") Интерьер
				a(href="#") Дизайн

	section.work
		.work__container
			h2.visually-hidden Последние работы

			.work__slider
				.work__slider__list(role="list")
					.work__slider__item(role="listitem")
						picture
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-1@xl.avif", type="image/avif")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-1@xl.webp", type="image/webp")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-1@xl.jpg")
							source(srcset="./img/home-slider/heder-slide-1@md.avif", type="image/avif")
							source(srcset="./img/home-slider/heder-slide-1@md.webp", type="image/webp")
							img(src="./img/home-slider/heder-slide-1@md.jpg", alt="#")
					.work__slider__item(role="listitem")
						picture
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-2@xl.avif", type="image/avif")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-2@xl.webp", type="image/webp")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-2@xl.jpg")
							source(srcset="./img/home-slider/heder-slide-2@md.avif", type="image/avif")
							source(srcset="./img/home-slider/heder-slide-2@md.webp", type="image/webp")
							img(src="./img/home-slider/heder-slide-2@md.jpg", alt="#")
					.work__slider__item(role="listitem")
						picture
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-3@xl.avif", type="image/avif")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-3@xl.webp", type="image/webp")
							source(media="(min-width: 768px)", srcset="./img/home-slider/heder-slide-3@xl.jpg")
							source(srcset="./img/home-slider/heder-slide-3@md.avif", type="image/avif")
							source(srcset="./img/home-slider/heder-slide-3@md.webp", type="image/webp")
							img(src="./img/home-slider/heder-slide-3@md.jpg", alt="#")

				.container.work__slider__button-wrap
					button.work__slider__button-prev.button-arrow.button-arrow--right(type="button")
					button.work__slider__button-next.button-arrow.button-arrow--left(type="button")

	section.portfolio.container
		p.portfolio__title Мы создаем пространства <br> с&#160;ощущением
			span.portfolio__title-animate
				span вдохновения&#160;
				span уюта&#160;
				span комфорта
		h2.portfolio__subtitle Наше портфолио - наша гордость. <br aria-hidden="true"> Потому что каждая работа сделана с душой.

		.portfolio__list(role="list")
			.portfolio__grid
				.portfolio__item(role="listitem")
					p.portfolio__list-links.list-links
						a(href="#") Интерьер
						a(href="#") Комплектация проекта
					img(src="img/home-portfolio/portfolio-1.jpg", alt="#", loading="lazy")
					h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары
					a.button-arrow.button-arrow--left(href="#")
						span.visually-hidden Подробнее
				.portfolio__item(role="listitem")
					p.portfolio__list-links.list-links
						a(href="#") Интерьер
					img(src="img/home-portfolio/portfolio-2.jpg", alt="#", loading="lazy")
					h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары
					a.button-arrow.button-arrow--left(href="#")
						span.visually-hidden Подробнее
			.portfolio__item(role="listitem")
				p.portfolio__list-links.list-links
					a(href="#") Экстерьер
				img(src="img/home-portfolio/portfolio-3.jpg", alt="#", loading="lazy")
				h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары
				a.button-arrow.button-arrow--left(href="#")
					span.visually-hidden Подробнее
			.portfolio__grid
				.portfolio__item(role="listitem")
					p.portfolio__list-links.list-links
						a(href="#") Интерьер
					img(src="img/home-portfolio/portfolio-4.jpg", alt="#", loading="lazy")
					h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары
					a.button-arrow.button-arrow--left(href="#")
						span.visually-hidden Подробнее
				.portfolio__item(role="listitem")
					p.portfolio__list-links.list-links
						a(href="#") Интерьер
						a(href="#") Комплектация проекта
					img(src="img/home-portfolio/portfolio-5.jpg", alt="#", loading="lazy")
					h3.portfolio__list-title Интерьер квартиры в жилом комплексе «колизей» для молодой пары
					a.button-arrow.button-arrow--left(href="#")
						span.visually-hidden Подробнее

		a.portfolio__button.button(href="#") Смотреть все работы

	section.services.services__container.container
		h2.visually-hidden Услуги

		p.services__content
			span.services__left Мы занимаемся
			span.services__right
				span дизайн проектами
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span визуализацией интерьера
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span визуализацией экстерьера
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span комплектацией проекта
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее
				span авторским надзором
					a.services__button-arrow.button-arrow.button-arrow--left(href="#")
						span.visually-hidden подробнее

	section.feedback.container
		h2.visually-hidden Обратная связь
		.feedback__wrap
			form.feedback__form.feedback__content(action="#")
				.feedback__form-top
					p.feedback__title Обсудим ваш проект?
					h3.feedback__subtitle Оставьте заявку и мы свяжемся с вами :)
				.feedback__form-left
					label.visually-hidden(for="name") Напишите своё имя
					input#name.feedback__input(type="text", name="name", placeholder="Ваше имя", required)
					label.visually-hidden(for="phone") Напишите номер телефона
					input#phone.feedback__input(type="tel", name="phone", placeholder="+7 (___) ___-__-__", required)
					input.visually-hidden.feedback__checkbox(type="checkbox")
					label.feedback__label-checkbox Даю согласие на&nbsp;обработку персональных данных
				button.feedback__submit(type="submit") Оставить заявку

		.feedback__wrap
			.feedback__content
				h2.feedback__title.feedback__title--contact Или, вот наши контакты
				address.feedback__address
					a.feedback__link(href="tel:+79179567889") 8 (917) 956-78-89
					a.feedback__link(href="mailto:balans@yandex.ru") balans@yandex.ru

				ul.soc-list
					li.soc-list__item
						a.soc-list__link.soc-list__link--yt(href="#")
							span.visually-hidden Канал на ютубе
					li.soc-list__item
						a.soc-list__link.soc-list__link--vk(href="#")
							span.visually-hidden Группа в вк
					li.soc-list__item
						a.soc-list__link.soc-list__link--tg(href="#")
							span.visually-hidden Канал в телеграм

	script(src="./static/jquery/jquery-3.6.4.min.js")
	script(src="./static/slick-slider/slick.min.js")
