extends templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Баланс жизни начинается с пространства"
	- var pageHeading = '"Баланс" - студия дизайна жилых помещений'
	- var idPage = "portfolio"

block main
	section.portfolio.container
		header.page-header
			h2.visually-hidden Портфолио
			p.portfolio__title Наши работы - это всегда
				span.block про современность и эстетику
			p.list-tags
				a(href="#") Все
				a(href="#") Интерьеры
				a(href="#") 3D визуализация
				a(href="#") Экстерьер
				a(href="#") Предметное моделирование
		include templates/index-portfolio__list.pug

	include templates/feedback.pug
