extends templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Баланс жизни начинается с пространства"
	- var pageHeading = '"Баланс" - студия дизайна жилых помещений'
	- var idPage = "portfolio"

block main
	section.portfolio.container
		header.page-header
			h2.visually-hidden Портфолио
			p.title Наши работы - это всегда
				span.block про современность и эстетику
			p.list-tags
				a(href="#") Все
				a(href="#") Интерьеры
				a(href="#") 3D визуализация
				a(href="#") Экстерьер
				a(href="#") Предметное моделирование
	section.container
		h2.visually-hidden Галлерея
		+gallery ([
			[
				'portfolio',
				'portfolio-1',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			],
			[
				'portfolio',
				'portfolio-2',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для не молодой пары'
			],
			[
				'portfolio',
				'portfolio-3',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для очень молодой пары'
			],
			[
				'portfolio',
				'portfolio-4',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			],
			[
				'portfolio',
				'portfolio-5',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			],
			[
				'portfolio',
				'portfolio-6',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			],
			[
				'portfolio',
				'portfolio-7',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			],
			[
				'portfolio',
				'portfolio-8',
				'#',
				'project.html',
				'Интерьер квартиры в жилом комплексе «колизей» для молодой пары'
			]
		])

	include templates/feedback.pug
