extends templates/template.pug

block variables
	//- переменная для template.pug
	- var pageTitle = "Баланс жизни начинается с пространства"
	- var pageHeading = '"Баланс" - студия дизайна жилых помещений'
	- var idPage = "portfolio"
	- var preloadMainJs = false

block main
	section.portfolio.container
		header.page-header
			h2.title Наши услуги

		+services__list ([
			[
				'Архитектурное проектирование',
				'#',
				'Архитектурная визуализация зданий и сооружений любой сложности и объема. Детальная проработка технического задания по чертежам и фотографиям. Фотореалистичная подача строительных материалов и элементов благоустройства.',
				'от 12 000 е / м2',
				'4-7 рабочих дней',
				'services',
				'services-1.jpg',
				'#'
			],
			[
				'Дизайн проект интерьера',
				'#',
				'Архитектурная визуализация зданий и сооружений любой сложности и объема. Детальная проработка технического задания по чертежам и фотографиям. Фотореалистичная подача строительных материалов и элементов благоустройства.',
				'от 12 000 е / м2',
				'4-7 рабочих дней',
				'services',
				'services-2.jpg',
				'#'
			]
		])

	include templates/feedback.pug
